
Fbx Parser/Fbx Parser.sln
Fbx Parser/.vs/Fbx Parser/v16/.suo
Fbx Parser/.vs/Fbx Parser/v16/Browse.VC.db
Fbx Parser/.vs/Fbx Parser/v16/Browse.VC.db-shm
Fbx Parser/.vs/Fbx Parser/v16/Browse.VC.db-wal
Fbx Parser/.vs/Fbx Parser/v16/Browse.VC.opendb
Fbx Parser/Fbx Parser.vcxproj
Fbx Parser/Fbx Parser.vcxproj.filters
Fbx Parser/Fbx Parser.vcxproj.user
Fbx Parser/Output/animTest2_2.mac
Fbx Parser/Input/animTest2_2.FBX
Fbx Parser/x64/Debug/Fbx Parser.exe
Fbx Parser/x64/Debug/Fbx Parser.exe.recipe
Fbx Parser/x64/Debug/Fbx Parser.ilk
Fbx Parser/x64/Debug/Fbx Parser.log
Fbx Parser/x64/Debug/Fbx Parser.pdb
Fbx Parser/x64/Debug/Fbx Parser.tlog/CL.command.1.tlog
Fbx Parser/x64/Debug/Fbx Parser.tlog/CL.read.1.tlog
Fbx Parser/x64/Debug/Fbx Parser.tlog/CL.write.1.tlog
Fbx Parser/x64/Debug/Fbx Parser.tlog/Fbx Parser.lastbuildstate
Fbx Parser/x64/Debug/Fbx Parser.tlog/link.command.1.tlog
Fbx Parser/x64/Debug/Fbx Parser.tlog/link.read.1.tlog
Fbx Parser/x64/Debug/Fbx Parser.tlog/link.write.1.tlog
Fbx Parser/x64/Debug/Fbx Parser.vcxproj.FileListAbsolute.txt
Fbx Parser/x64/Debug/main.obj
Fbx Parser/x64/Debug/vc142.idb
Fbx Parser/x64/Debug/vc142.pdb
*.ipch
*.FBX
